@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins";
}

main {
  min-height: 100vh;
  min-width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

main section.glass {
  min-height: 83.5vh;
  max-height: 83.5vh;
  width: 60%;
  margin: auto;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 1.3em;
  z-index: 3;
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section.glass section.left-pane {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  width: 29.5%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.5em;
  text-align: center;
}

main section.glass section.left-pane .profile {
  margin-top: 2em;
}

main section.glass section.left-pane .profile img {
  width: 4em;
  height: 4em;
}

main section.glass section.left-pane .profile p.username {
  margin-top: 0.3em;
  color: #6384aa;
  font-weight: bold;
  font-size: small;
  margin-bottom: 0.2em;
}

main section.glass section.left-pane .profile p.membership {
  color: #7fa4d1;
  font-size: 0.7em;
  font-weight: 500;
}

main section.glass section.left-pane nav {
  margin-top: 2em;
}

main section.glass section.left-pane nav ul {
  list-style-type: none;
}

main section.glass section.left-pane nav ul li {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
  font-size: 1em;
  font-weight: 500;
  color: #7da4cf;
}

main section.glass section.left-pane nav ul li img {
  height: 1.6em;
  width: 1.6em;
}

main section.glass section.left-pane nav ul li p {
  margin-left: 1.5em;
  display: inline;
}

main section.glass section.left-pane .pro-gaming {
  width: 80%;
  margin-top: 4em;
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.glass section.left-pane .pro-gaming p {
  margin-left: 0.3em;
  color: white;
  font-weight: bolder;
  width: 40%;
}

main section.glass section.left-pane .pro-gaming img {
  width: 6em;
  height: 6em;
  margin-bottom: 0.5em;
}

main section.glass section.right-pane {
  width: 69.5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3em;
}

main section.glass section.right-pane h1 {
  color: #6384aa;
  text-align: left;
  margin-top: 2em;
  font-size: xx-large;
}

main section.glass section.right-pane .underline {
  height: 1.2em;
  width: 45%;
  border-radius: 5em;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

main section.glass section.right-pane ul {
  list-style-type: none;
  margin-top: 2em;
}

main section.glass section.right-pane ul li {
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
  border-radius: 0.5em;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5em 0;
  -webkit-box-shadow: inset;
          box-shadow: inset;
  padding: 1em 1em;
}

main section.glass section.right-pane ul li img {
  width: 4em;
  height: 4em;
}

main section.glass section.right-pane ul li p.game-name {
  color: #7da4cf;
  font-weight: 500;
}

main section.glass section.right-pane ul li p.game-platform {
  margin-top: 0.5em;
  color: #7da4cf;
  font-size: 0.7em;
  font-weight: 400;
}

main section.glass section.right-pane ul li .game-complete-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1em;
  background: white;
  border-radius: 1em;
}

main section.glass section.right-pane ul li .game-complete-bar .complete-part {
  width: 60%;
  border-radius: 1em;
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

main section.glass section.right-pane ul li p.game-complete-percentage {
  color: #65dfc9;
  font-weight: 600;
}

.circle1,
.circle2 {
  width: 13.4em;
  height: 13.4em;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.1));
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}
/*# sourceMappingURL=style.css.map */